{
  "openapi": "3.0.0",
  "info": {
    "title": "Avito API для бизнеса (официальный каталог)",
    "version": "1.0.0",
    "description": "Полный спек Avito Business API, собранный из официального каталога developers.avito.ru/api-catalog. Каждая операция получила тег с русским названием раздела и поле x-avito-section для удобной навигации. При коллизиях path+method между разделами канонический вариант — last-write-wins по sorted(slug); проигравшие разделы указаны в x-avito-also-in.",
    "contact": {
      "email": "supportautoload@avito.ru"
    },
    "termsOfService": "https://www.avito.ru/legal/pro_tools/public-api"
  },
  "servers": [
    {
      "url": "https://api.avito.ru",
      "description": "Avito Business API"
    }
  ],
  "paths": {
    "/checkAhUserV1": {
      "get": {
        "deprecated": true,
        "description": "Устаревший метод, используйте /checkAhUserV2 либо /getAhInfoV1. Ручка для получения информации по ИА для пользователя.\n",
        "operationId": "checkAhUserV1",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Данные пользователя о статусе в иерархии аккаунтов",
                  "properties": {
                    "avitoCompanyId": {
                      "description": "ИД компании, к которой принадлежит сотрудник",
                      "nullable": true,
                      "type": "integer"
                    },
                    "isChief": {
                      "description": "Признак того, что пользователь является руководителем",
                      "type": "boolean"
                    },
                    "isCompany": {
                      "description": "Признак того, что пользователь является компанией",
                      "type": "boolean"
                    },
                    "isEmployee": {
                      "description": "Признак того, что пользователь является сотрудником",
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Успешный ответ"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "title": "Текст ошибки",
                          "type": "string"
                        },
                        "slug": {
                          "title": "Кодовое название ошибки",
                          "type": "string"
                        },
                        "type": {
                          "title": "Тип ошибки",
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "slug"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Требуется аутентификация"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "title": "Текст ошибки",
                          "type": "string"
                        },
                        "slug": {
                          "title": "Кодовое название ошибки",
                          "type": "string"
                        },
                        "type": {
                          "title": "Тип ошибки",
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "slug"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Внутренняя ошибка метода API"
          }
        },
        "security": [
          {
            "AuthorizationCode": [
              "ah:access"
            ]
          },
          {
            "ClientCredentials": []
          }
        ],
        "summary": "Получение информации о статусе пользователя в ИА",
        "tags": [
          "Иерархия Аккаунтов"
        ],
        "x-avito-section": {
          "slug": "accounts-hierarchy",
          "title": "Иерархия Аккаунтов"
        }
      },
      "parameters": [
        {
          "description": "Токен для авторизации",
          "in": "header",
          "name": "Authorization",
          "required": true,
          "schema": {
            "example": "Bearer ACCESS_TOKEN",
            "type": "string"
          }
        },
        {
          "description": "список зон доступа, полученных приложением",
          "example": "ah:access",
          "in": "header",
          "name": "X-Oauth-Scopes",
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "выбранный флоу авторизации по протоколу OAuth 2.0 (client_credentials/authorization_code)",
          "example": "authorization_code",
          "in": "header",
          "name": "X-Oauth-Flow",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/checkAhUserV2": {
      "get": {
        "description": "Ручка для получения информации по ИА для пользователя. Если запрос делается от имени сотрудника, то необходимо указать заголовок X-Employee-Of.\n",
        "operationId": "checkAhUserV2",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Данные пользователя о статусе в иерархии аккаунтов",
                  "properties": {
                    "avitoCompanyId": {
                      "description": "ИД компании, к которой принадлежит сотрудник",
                      "nullable": true,
                      "type": "integer"
                    },
                    "isChief": {
                      "description": "Признак того, что пользователь является руководителем",
                      "type": "boolean"
                    },
                    "isCompany": {
                      "description": "Признак того, что пользователь является компанией",
                      "type": "boolean"
                    },
                    "isEmployee": {
                      "description": "Признак того, что пользователь является сотрудником",
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Успешный ответ"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiError"
                }
              }
            },
            "description": "Ошибка валидации"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiError"
                }
              }
            },
            "description": "Требуется аутентификация"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiError"
                }
              }
            },
            "description": "Внутренняя ошибка метода API"
          }
        },
        "security": [
          {
            "AuthorizationCode": [
              "ah:access"
            ]
          },
          {
            "ClientCredentials": []
          }
        ],
        "summary": "Получение информации о статусе пользователя в ИА",
        "tags": [
          "Иерархия Аккаунтов"
        ],
        "x-avito-section": {
          "slug": "accounts-hierarchy",
          "title": "Иерархия Аккаунтов"
        }
      },
      "parameters": [
        {
          "description": "Токен для авторизации",
          "in": "header",
          "name": "Authorization",
          "required": true,
          "schema": {
            "example": "Bearer ACCESS_TOKEN",
            "type": "string"
          }
        },
        {
          "description": "список зон доступа, полученных приложением",
          "example": "ah:access",
          "in": "header",
          "name": "X-Oauth-Scopes",
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "выбранный флоу авторизации по протоколу OAuth 2.0 (client_credentials/authorization_code)",
          "example": "authorization_code",
          "in": "header",
          "name": "X-Oauth-Flow",
          "schema": {
            "type": "string"
          }
        },
        {
          "$ref": "#/components/parameters/XIsEmployee"
        },
        {
          "$ref": "#/components/parameters/XEmployeeOf"
        }
      ]
    },
    "/getAhInfoV1": {
      "get": {
        "description": "Ручка для получения информации по ИА для пользователя. Если запрос делается от имени сотрудника, то будет возвращён список компаний, которым он принадлежит.\n",
        "operationId": "getAhInfoV1",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Данные пользователя о статусе в иерархии аккаунтов",
                  "properties": {
                    "company": {
                      "properties": {
                        "isCompany": {
                          "description": "Является ли пользователь компанией",
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "isCompany"
                      ],
                      "type": "object"
                    },
                    "employees": {
                      "items": {
                        "properties": {
                          "avitoCompanyId": {
                            "description": "Идентификатор компании",
                            "nullable": true,
                            "type": "integer"
                          },
                          "employeeId": {
                            "description": "Идентификатор сотрудника",
                            "nullable": true,
                            "type": "integer"
                          },
                          "isChief": {
                            "description": "Является ли пользователь руководителем",
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "isChief"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "employees",
                    "company"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Успешный ответ"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiError"
                }
              }
            },
            "description": "Требуется аутентификация"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiError"
                }
              }
            },
            "description": "Внутренняя ошибка метода API"
          }
        },
        "security": [
          {
            "AuthorizationCode": [
              "ah:access"
            ]
          },
          {
            "ClientCredentials": []
          }
        ],
        "summary": "Получение полной информации о статусе пользователя в ИА",
        "tags": [
          "Иерархия Аккаунтов"
        ],
        "x-avito-section": {
          "slug": "accounts-hierarchy",
          "title": "Иерархия Аккаунтов"
        }
      },
      "parameters": [
        {
          "description": "Токен для авторизации",
          "in": "header",
          "name": "Authorization",
          "required": true,
          "schema": {
            "example": "Bearer ACCESS_TOKEN",
            "type": "string"
          }
        },
        {
          "description": "список зон доступа, полученных приложением",
          "example": "ah:access",
          "in": "header",
          "name": "X-Oauth-Scopes",
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "выбранный флоу авторизации по протоколу OAuth 2.0 (client_credentials/authorization_code)",
          "example": "authorization_code",
          "in": "header",
          "name": "X-Oauth-Flow",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/getEmployeesV1": {
      "get": {
        "description": "Для взаимодействия с иерархией аккаунтов необходимо приобрести тариф в [личном кабинете](https://www.avito.ru/paid-services/listing-fees).\n",
        "operationId": "getEmployeesV1",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmployeesResult"
                }
              }
            },
            "description": "Успешный ответ"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiError"
                }
              }
            },
            "description": "Ошибка валидации"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "description": "Текст ошибки",
                          "example": "Пользователь не авторизован",
                          "type": "string"
                        },
                        "slug": {
                          "description": "Кодовое название ошибки",
                          "example": "user_unauthorized",
                          "type": "string"
                        },
                        "type": {
                          "description": "Тип ошибки",
                          "example": "authorization_error",
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "slug"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Требуется аутентификация"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "description": "Текст ошибки",
                          "example": "Error while processing request. Please, contact support",
                          "type": "string"
                        },
                        "slug": {
                          "description": "Кодовое название ошибки",
                          "example": "server",
                          "type": "string"
                        },
                        "type": {
                          "description": "Тип ошибки",
                          "example": "server",
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "slug"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Внутренняя ошибка метода API"
          }
        },
        "security": [
          {
            "AuthorizationCode": [
              "ah:access"
            ]
          },
          {
            "ClientCredentials": []
          }
        ],
        "summary": "Получение списка сотрудников иерархии",
        "tags": [
          "Иерархия Аккаунтов"
        ],
        "x-avito-section": {
          "slug": "accounts-hierarchy",
          "title": "Иерархия Аккаунтов"
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/authHeader"
        },
        {
          "$ref": "#/components/parameters/X-Oauth-Scopes"
        },
        {
          "$ref": "#/components/parameters/X-Oauth-Flow"
        },
        {
          "$ref": "#/components/parameters/XIsEmployee"
        },
        {
          "$ref": "#/components/parameters/XEmployeeOf"
        }
      ]
    },
    "/linkItemsV1": {
      "parameters": [
        {
          "$ref": "#/components/parameters/authHeader"
        },
        {
          "$ref": "#/components/parameters/X-Oauth-Scopes"
        },
        {
          "$ref": "#/components/parameters/X-Oauth-Flow"
        }
      ],
      "post": {
        "description": "Для взаимодействия с иерархией аккаунтов необходимо приобрести тариф в [личном кабинете](https://www.avito.ru/paid-services/listing-fees).\n",
        "operationId": "linkItemsV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkItems"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Успешный ответ"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "description": "Текст ошибки",
                          "example": "Некорректные данные",
                          "type": "string"
                        },
                        "slug": {
                          "description": "Кодовое название ошибки",
                          "example": "validation",
                          "type": "string"
                        },
                        "type": {
                          "description": "Тип ошибки",
                          "example": "bad_data",
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "slug"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Ошибка валидации"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "description": "Текст ошибки",
                          "example": "Пользователь не авторизован",
                          "type": "string"
                        },
                        "slug": {
                          "description": "Кодовое название ошибки",
                          "example": "user_unauthorized",
                          "type": "string"
                        },
                        "type": {
                          "description": "Тип ошибки",
                          "example": "authorization_error",
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "slug"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Требуется аутентификация"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "description": "Текст ошибки",
                          "example": "Перелинковка айтемов не доступна",
                          "type": "string"
                        },
                        "slug": {
                          "description": "Кодовое название ошибки",
                          "example": "forbidden_link_items",
                          "type": "string"
                        },
                        "type": {
                          "description": "Тип ошибки",
                          "example": "link_items",
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "slug"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Перелинковка айтема недоступна"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "description": "Текст ошибки",
                          "example": "Error while processing request. Please, contact support",
                          "type": "string"
                        },
                        "slug": {
                          "description": "Кодовое название ошибки",
                          "example": "server",
                          "type": "string"
                        },
                        "type": {
                          "description": "Тип ошибки",
                          "example": "server",
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "slug"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Внутренняя ошибка метода API"
          }
        },
        "security": [
          {
            "AuthorizationCode": [
              "ah:access"
            ]
          },
          {
            "ClientCredentials": []
          }
        ],
        "summary": "Прикрепление сотрудника иерархии к объявлениям, перезакрепление объявлений между сотрудниками иерархии",
        "tags": [
          "Иерархия Аккаунтов"
        ],
        "x-avito-section": {
          "slug": "accounts-hierarchy",
          "title": "Иерархия Аккаунтов"
        }
      }
    },
    "/listCompanyPhonesV1": {
      "get": {
        "description": "Для взаимодействия с иерархией аккаунтов необходимо приобрести тариф в [личном кабинете](https://www.avito.ru/paid-services/listing-fees).\n",
        "operationId": "listCompanyPhonesV1",
        "parameters": [
          {
            "description": "Курсор для получения следующей страницы. Передается из предыдущего ответа.",
            "in": "query",
            "name": "cursor",
            "schema": {
              "nullable": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyPhonesResult"
                }
              }
            },
            "description": "Успешный ответ"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiError"
                }
              }
            },
            "description": "Ошибка валидации"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "description": "Текст ошибки",
                          "example": "Пользователь не авторизован",
                          "type": "string"
                        },
                        "slug": {
                          "description": "Кодовое название ошибки",
                          "example": "user_unauthorized",
                          "type": "string"
                        },
                        "type": {
                          "description": "Тип ошибки",
                          "example": "authorization_error",
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "slug"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Требуется аутентификация"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "description": "Текст ошибки",
                          "example": "Error while processing request. Please, contact support",
                          "type": "string"
                        },
                        "slug": {
                          "description": "Кодовое название ошибки",
                          "example": "server",
                          "type": "string"
                        },
                        "type": {
                          "description": "Тип ошибки",
                          "example": "server",
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "slug"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Внутренняя ошибка метода API"
          }
        },
        "security": [
          {
            "AuthorizationCode": [
              "ah:access"
            ]
          },
          {
            "ClientCredentials": []
          }
        ],
        "summary": "Получение списка телефонов компании",
        "tags": [
          "Иерархия Аккаунтов"
        ],
        "x-avito-section": {
          "slug": "accounts-hierarchy",
          "title": "Иерархия Аккаунтов"
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/authHeader"
        },
        {
          "$ref": "#/components/parameters/X-Oauth-Scopes"
        },
        {
          "$ref": "#/components/parameters/X-Oauth-Flow"
        },
        {
          "$ref": "#/components/parameters/XIsEmployee"
        },
        {
          "$ref": "#/components/parameters/XEmployeeOf"
        }
      ]
    },
    "/listItemsByEmployeeIdV1": {
      "parameters": [
        {
          "$ref": "#/components/parameters/authHeader"
        },
        {
          "$ref": "#/components/parameters/X-Oauth-Scopes"
        },
        {
          "$ref": "#/components/parameters/X-Oauth-Flow"
        },
        {
          "$ref": "#/components/parameters/XIsEmployee"
        },
        {
          "$ref": "#/components/parameters/XEmployeeOf"
        }
      ],
      "post": {
        "description": "Ручка для получения списка объявлений по сотруднику с фильтром по категории объявлений. Получение объявлений по компании недоступно.",
        "operationId": "listItemsByEmployeeIdV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListItemsByEmployeeIdBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItemsByEmployeeIdResult"
                }
              }
            },
            "description": "Успешный ответ"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiError"
                }
              }
            },
            "description": "Ошибка валидации"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiError"
                }
              }
            },
            "description": "Требуется аутентификация"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiError"
                }
              }
            },
            "description": "Перелинковка айтема недоступна"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiError"
                }
              }
            },
            "description": "Внутренняя ошибка метода API"
          }
        },
        "security": [
          {
            "AuthorizationCode": [
              "ah:access"
            ]
          },
          {
            "ClientCredentials": []
          }
        ],
        "summary": "Получение списка объявлений по сотруднику",
        "tags": [
          "Иерархия Аккаунтов"
        ],
        "x-avito-section": {
          "slug": "accounts-hierarchy",
          "title": "Иерархия Аккаунтов"
        }
      }
    },
    "/ads/v1/account/{accountID}": {
      "get": {
        "description": "Возвращает реквизиты рекламного аккаунта по его ID: ИНН, КПП, ОГРН, юридический и фактический адреса, контактное лицо и менеджера.\nТокен имеет доступ только к тому аккаунту, в котором был выдан.\n",
        "operationId": "V1GetAccountByID",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1GetAccountByIdOut"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Аккаунт не найден"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "security": [
          {
            "ClientCredentials": []
          }
        ],
        "summary": "Получить аккаунт по ID",
        "x-cost": {
          "default": 1,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "description": "Создаёт тестовый аккаунт. Метод работает **только в песочнице** (`https://api.avito.ru/ads-sandbox/`); для боевых аккаунтов используйте веб-интерфейс кабинета.\nОграничения песочницы: время жизни аккаунта — до 00:00 текущего дня; в сутки можно создать не более 1 тестового аккаунта.\n",
        "operationId": "V1CreateAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateAccountIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1CreateAccountOut"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "207": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1CreateAccountOut"
                }
              }
            },
            "description": "Аккаунт создан, но часть sandbox-данных не подготовилась",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "summary": "Создать аккаунт в песочнице",
        "x-cost": {
          "default": 0,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      }
    },
    "/ads/v1/account/{accountID}/add-user": {
      "parameters": [
        {
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "description": "Добавляет пользователя Авито в рекламный аккаунт с указанной ролью. Доступные роли: `admin` (полный доступ) и `viewer` (только просмотр).\nПользователь идентифицируется по `userId` (ID профиля на Авито).\n",
        "operationId": "V1AddUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1AddUserIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "security": [
          {
            "ClientCredentials": []
          }
        ],
        "summary": "Добавить пользователя в аккаунт",
        "x-cost": {
          "default": 5,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      }
    },
    "/ads/v1/account/{accountID}/advertisers": {
      "parameters": [
        {
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "description": "Возвращает список рекламодателей аккаунта с пагинацией. Доступные фильтры: список `ids`, список `inns`, список ролей (`roles`).\nПараметры пагинации: `limit` — от 1 до 100 (по умолчанию 20), `page` — от 1.\n",
        "operationId": "V1GetAdvertisersList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1GetAdvertisersListIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1GetAdvertisersListOut"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Аккаунт не найден"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "security": [
          {
            "ClientCredentials": []
          }
        ],
        "summary": "Получить список рекламодателей по фильтрам",
        "x-cost": {
          "default": 1,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      }
    },
    "/ads/v1/account/{accountID}/balance": {
      "get": {
        "description": "Возвращает текущий баланс рекламного аккаунта: денежные средства (`balance`) и бонусы (`bonusBalance`).\nВсе суммы — в рублях, целые числа.\n",
        "operationId": "V1GetAccountBalanceByID",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1GetAccountBalanceByIdOut"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Аккаунт не найден"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "security": [
          {
            "ClientCredentials": []
          }
        ],
        "summary": "Получить баланс аккаунта по ID",
        "x-cost": {
          "default": 1,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ]
    },
    "/ads/v1/account/{accountID}/bonus-transfer": {
      "parameters": [
        {
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "description": "Переводит бонусы между родительским и дочерним аккаунтом-неплательщиком. Логика направления та же, что у `funds-transfer`: `accountID` в path — источник, `accountIdTo` в body — получатель; для перевода с дочернего на родителя нужен токен дочернего аккаунта.\nСумма `amount` — целое число, не меньше 1 бонуса.\n",
        "operationId": "V1TransferBonus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1TransferBonusIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Аккаунт не найден"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "security": [
          {
            "ClientCredentials": []
          }
        ],
        "summary": "Перевод бонусов между аккаунтом родителем и дочерними на одном договоре",
        "x-cost": {
          "default": 1,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      }
    },
    "/ads/v1/account/{accountID}/campaigns": {
      "parameters": [
        {
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "description": "Возвращает список рекламных кампаний аккаунта с пагинацией. Поддерживает фильтрацию по ID, моделям оплаты (`CPM`/`CPC`), типам кампании (`textImage`/`HTML`/`video`), статусам, менеджерам, рекламодателям, договорам, диапазону дат создания и диапазону периода размещения.\nПараметры пагинации: `limit` — от 1 до 100 (по умолчанию 20), `page` — от 1.\n",
        "operationId": "V1GetCampaignsList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1GetCampaignsListIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1GetCampaignsListOut"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Аккаунт не найден"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "summary": "Получить список кампаний по фильтрам",
        "x-cost": {
          "default": 1,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      }
    },
    "/ads/v1/account/{accountID}/campaigns/{campaignID}/creatives/stats": {
      "parameters": [
        {
          "description": "ID аккаунта",
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        },
        {
          "description": "ID кампании",
          "in": "path",
          "name": "campaignID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "description": "Возвращает статистику по конкретным креативам указанной кампании за заданный период. В `creativeIDs` нужно передать минимум один ID креатива.\n**Ограничение:** максимальный период между `dateFrom` и `dateTo` — 100 дней.\n",
        "operationId": "V1GetCreativesStatistic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1GetCreativesStatisticIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1GetCreativesStatisticOut"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Кампания не найдена"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "security": [
          {
            "ClientCredentials": []
          }
        ],
        "summary": "Получить статистику по креативам кампании",
        "x-cost": {
          "default": 1,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      }
    },
    "/ads/v1/account/{accountID}/campaigns/{campaignID}/groups/stats": {
      "parameters": [
        {
          "description": "ID аккаунта",
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        },
        {
          "description": "ID кампании",
          "in": "path",
          "name": "campaignID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "description": "Возвращает статистику по конкретным группам объявлений внутри указанной кампании за заданный период. В `groupIDs` нужно передать минимум один ID группы.\n**Ограничение:** максимальный период между `dateFrom` и `dateTo` — 100 дней.\n",
        "operationId": "V1GetGroupsStatistic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1GetGroupsStatisticIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1GetGroupsStatisticOut"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Кампания не найдена"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "security": [
          {
            "ClientCredentials": []
          }
        ],
        "summary": "Получить статистику по группам кампании",
        "x-cost": {
          "default": 5,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      }
    },
    "/ads/v1/account/{accountID}/campaigns/{campaignID}/stats": {
      "parameters": [
        {
          "description": "ID аккаунта",
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        },
        {
          "description": "ID кампании",
          "in": "path",
          "name": "campaignID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "description": "Возвращает агрегированную статистику по кампании (показы, клики, CTR, расход, CPM/CPC, метрики видеопросмотров) за указанный период с дневной гранулярностью, а также сводку по группам и креативам кампании.\n**Ограничение:** максимальный период между `dateFrom` и `dateTo` — 100 дней.\n",
        "operationId": "V1GetCampaignStatistic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1GetCampaignStatisticIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1GetCampaignStatisticOut"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Кампания не найдена"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "security": [
          {
            "ClientCredentials": []
          }
        ],
        "summary": "Получить статистику по кампании",
        "x-cost": {
          "default": 10,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      }
    },
    "/ads/v1/account/{accountID}/children": {
      "get": {
        "description": "Возвращает список дочерних аккаунтов, привязанных к текущему (родительскому) аккаунту, вместе с их договорами. \nУ дочерних аккаунтов на одном договоре с родителем не передается информация о договоре.\nЕсли нужны также балансы дочерних аккаунтов, используйте `GET /ads/v1/account/{accountID}/children-with-balances`.\n",
        "operationId": "V1GetChildAccountsList",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1GetChildAccountsListOut"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Аккаунт не найден"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "summary": "Получить список дочерних аккаунтов",
        "x-cost": {
          "default": 1,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ]
    },
    "/ads/v1/account/{accountID}/children-with-balances": {
      "get": {
        "description": "Возвращает список дочерних аккаунтов вместе с их балансами (денежные средства, бонусы).\nУдобно для проверки результата переводов через `funds-transfer` / `bonus-transfer`.\n",
        "operationId": "V1GetChildAccountsWithBalancesList",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1GetChildAccountsWithBalancesListOut"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Аккаунт не найден"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "summary": "Получить список дочерних аккаунтов с балансами",
        "x-cost": {
          "default": 5,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ]
    },
    "/ads/v1/account/{accountID}/contracts": {
      "parameters": [
        {
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "description": "Возвращает список договоров аккаунта с пагинацией. Доступные фильтры: `ids` (ID договоров), `numbers` (номера договоров), `contractors` и `clients` (фильтры по сторонам договора).\nПараметры пагинации: `limit` — от 1 до 100 (по умолчанию 20), `page` — от 1.\n",
        "operationId": "V1GetContractsList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1GetContractsListIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1GetContractsListOut"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Аккаунт не найден"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "summary": "Получить список договоров по фильтрам",
        "x-cost": {
          "default": 1,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      }
    },
    "/ads/v1/account/{accountID}/create-advertiser": {
      "parameters": [
        {
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "description": "Создаёт рекламодателя — юридическое лицо (или ИП), от лица которого будут размещаться рекламные кампании в этом аккаунте.\nОдин аккаунт может иметь несколько рекламодателей. Если рекламодатель и аккаунт — одно и то же ЮЛ/ИП, договор между ними создавать не нужно; иначе после создания рекламодателя необходимо создать договор через `POST /ads/v1/account/{accountID}/create-contract`.\n",
        "operationId": "V1CreateAdvertiser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateAdvertiserIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1CreateAdvertiserOut"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Аккаунт не найден"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "security": [
          {
            "ClientCredentials": []
          }
        ],
        "summary": "Создать рекламодателя",
        "x-cost": {
          "default": 2,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      }
    },
    "/ads/v1/account/{accountID}/create-contract": {
      "parameters": [
        {
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "description": "Создаёт изначальный договор между аккаунтом и рекламодателем. Договор требуется только если рекламодатель и аккаунт — не одно и то же ЮЛ/ИП; для совпадающих контрагентов договор не создаётся.\nДля дополнительного соглашения укажите `parentId` (родительский договор) и не передавайте `intermediary`; для внешнего договора (`type = external`) передайте `cid` и не передавайте `parentId`.\n",
        "operationId": "V1CreateContract",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateContractIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1CreateContractOut"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Аккаунт не найден"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "summary": "Создание изначального договора",
        "x-cost": {
          "default": 2,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      }
    },
    "/ads/v1/account/{accountID}/create-nonpayer-child-account": {
      "parameters": [
        {
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "description": "Создаёт дочерний аккаунта под текущим (родительским) аккаунтом на том же договоре. В ответе возвращаются `accountID`, `clientKey` и `clientSecret` — пара ключей для генерации отдельного токена дочернего аккаунта.\nВ песочнице токен для созданного дочернего аккаунта использовать **нельзя**; проверить факт создания можно через `GET /ads/v1/account/{accountID}/children`.\n",
        "operationId": "V1CreateNonPayerAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateNonPayerAccountIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1CreateNonPayerAccountOut"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Аккаунт не найден"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "security": [
          {
            "ClientCredentials": []
          }
        ],
        "summary": "Создание дочернего аккаунта на договоре родителя",
        "x-cost": {
          "default": 1,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      }
    },
    "/ads/v1/account/{accountID}/creatives": {
      "parameters": [
        {
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "description": "Возвращает список креативов аккаунта с пагинацией. Поддерживает фильтрацию по ID креативов, ID групп, ID кампаний, моделям оплаты, типам кампании, статусам, менеджерам, рекламодателям и периоду размещения.\nПараметры пагинации: `limit` — от 1 до 100 (по умолчанию 20), `page` — от 1.\n",
        "operationId": "V1GetCreativesList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1GetCreativesListIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1GetCreativesListOut"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Аккаунт не найден"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "summary": "Получить список креативов по фильтрам",
        "x-cost": {
          "default": 1,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      }
    },
    "/ads/v1/account/{accountID}/delete-user/{userID}": {
      "delete": {
        "description": "Удаляет пользователя из рекламного аккаунта. Доступ пользователя к аккаунту прекращается сразу после успешного выполнения запроса.\n`userID` в path — ID пользователя, которого нужно удалить.\n",
        "operationId": "V1DeleteUser",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            },
            "description": "Ok",
            "headers": {
              "Api-Point-Balance": {
                "description": "Остаток API-баллов после выполнения запроса",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Некорректный запрос"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Не авторизован"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Доступ запрещен"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Слишком много запросов"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Ошибка сервера"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Сервис недоступен"
          }
        },
        "summary": "Удалить пользователя из аккаунта",
        "x-cost": {
          "default": 5,
          "type": "integer"
        },
        "x-rate-limiter": {
          "default": 500
        },
        "tags": [
          "Авито Реклама"
        ],
        "x-avito-section": {
          "slug": "ads",
          "title": "Авито Реклама"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        },
        {
          "in": "path",
          "name": "userID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ]
    },
    "/ads/v1/account/{accountID}/funds-transfer": {
      "parameters": [
        {
          "in": "path",
          "name": "accountID",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
[...]
